  <!-- Right Navigation -->
  <div class="row text-center">
    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: ''), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn glyphicon glyphicon-plus" %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
